* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: rgb(24, 24, 24);
  color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgb(35, 35, 35);
  padding: 3rem 5rem;
  cursor: pointer;
  margin: 1rem 2rem;
  width: fit-content;
}

.card h2 {
  width: fit-content;
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
}

.expand {
  width: 30rem;
}
